.dataTables_filter input {
    color: #000;
}

 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.tabs .tab a {
    color: #1565c0;
}
.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #1565c0;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
}
.tabs .indicator {
    background-color: #1565c0;
}