.card {
    margin-bottom: 20px !important
}

.app {
    margin-top: 20px
}

#partida:valid,
#chegada:valid {
    text-transform: uppercase;
}

#acao, #rota {
    white-space: nowrap;
    overflow: hidden;
}

html {
    position: relative;
    min-height: 100%;
}

.linha_briefing{
    margin-bottom:20px;
}

#rota, #rmks{
    margin-bottom: 5px;
}
