body {
    background: url(../images/bg.jpg);
}

#mensagem {
    padding: 5% 0;
}

#formulario {
    margin: 0 auto;
    width: 60%;
}

#formulario input {
    background-color: #fff;
    padding: 3%;
    color: rgba(13, 71, 161, 1);
}

#iniciar {
    padding: 2% 7%;
    float: right;
}

#partida:valid,
#chegada:valid {
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(13, 71, 161, 1);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(13, 71, 161, 1);
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(13, 71, 161, 1);
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(13, 71, 161, 1);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(13, 71, 161, 1);
}

@media only screen and (max-width: 990px) {
    #formulario {
        margin: 0 auto;
        width: 80%
    }
}

@media only screen and (max-width: 1200px) {
    #formulario {
        margin: 0 auto;
        width: 60%
    }
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #d9534f;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}