body {
    background: url(../images/bg.jpg);
}

#mensagem {
    padding: 5% 0;
}

#iniciar {
    padding: 0 8%;
    float: right;
}

#iniciar:hover {
    background-color: rgba(190, 190, 190, 1) !important;
}

#formulario {
    margin: 0 auto;
    width: 40%
}

#formulario input {
    background-color: #fff;
    padding: 1%;
    margin-left: -2%;
    color: rgba(13, 71, 161, 1);
}

#links {
    display: none;
}

#partida:valid,
#chegada:valid {
    text-transform: uppercase;
}

 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(13, 71, 161, 1);
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(13, 71, 161, 1);
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(13, 71, 161, 1);
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(13, 71, 161, 1);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(13, 71, 161, 1);
}

@media only screen and (max-width: 990px) {
    #formulario {
        margin: 0 auto;
        width: 80%
    }
    #links {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    #formulario {
        margin: 0 auto;
        width: 60%
    }
}
