version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: 'main'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'build'
      prefix-development: 'build'
      include: 'scope'
  - package-ecosystem: 'github-actions'
    directory: '/'
    target-branch: 'main'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'ci'
      include: 'scope'
